* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 0, 0.897);
  color: white;

  --primary-color: #ff3030;
  --text-color: #ddd;
}

/*----------------------------------------------Section Nav----------------------------*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5rem;
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
}

.nav-item {
  text-decoration: none;
  color: #fff;
  /*text-transform: uppercase;*/
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  color: var(--primary-color);
}

/*-------------------------------------------------- Section Hero -----------------------*/

.hero {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#07070762, #08080860), url("HeroVDSt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.title {
  margin: 0 0 0rem 0;
  font-size: 4rem;
}

.subtitle {
  font-size: 1rem;
  margin: 1;
  color: var(--text-color);
}

.laufband {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.laufband-link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: white;
}

.hero-action {
  margin-top: 30rem;
  color: var(--text-color);
}
.button,
.button-inverted {
  width: fit-content;
  padding: 1rem 2rem;
  border: 1px solid var(--primary-color);
  color: #fff;
  background-color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button-inverted {
  background-color: transparent;
  color: var(--primary-color);
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.button-inverted:hover {
  background-color: var(--primary-color);
  color: #fff;
}
/*----------------------------------------------Section About us --------------------------*/

.AboutUsTop {
  grid-template-columns: 1fr 1fr;
  display: grid;
  flex-direction: column;
  max-width: 85%;
  margin: 0 auto;
  align-items: center;
  color: var(--text-color);
  gap: 2rem;
}

.aboutUs_container {
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: column;
  max-width: 85%;
  margin: 0 auto;
}

.About_us_Header {
  padding-bottom: 2rem;
  font-size: 2.5rem;
  letter-spacing: 0.1rem;
  color: white;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  width: fit-content;
}

.About_us_TextContent {
  display: block;
  text-align: left;
  padding-bottom: 3.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 2rem;
}

.AboutUs_Picture {
  display: flex;
  width: 95%;
  height: 90%;
  object-fit: cover;
  gap: 0.1rem;
}

.Big-Picture {
  width: 100%;
  height: 90%;
}
/*
.AboutUs_SmallPicture {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 40%;
}*/
/* ---------------------------------------Section Semesterprogramm-----------------------------*/

.Semesterprg {
  margin-top: 15rem;
}

.prg-container {
  background-image: linear-gradient(#0707079c, #080808ab), url(VDSt_Kerzen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90rem;
  margin: 3rem 0;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.aktuellePrg {
  color: white;
  padding-top: 2rem;
  font-size: 3rem;
  letter-spacing: 0.1rem;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-transform: uppercase;
}

.monate {
  list-style: none;
}

.Monat {
  /*text-decoration: underline;
  text-decoration-color: var(--primary-color);*/
  padding-top: 2.5rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.Termine,
.Veranstlg,
.Uhrzeit {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  color: #ddd;
}

.download,
.pdf {
  font-size: 1.5rem;
  line-height: 1.4rem;
  padding-top: 5rem;
  text-decoration: none;
  color: white;
  padding: 1rem;
  margin-top: 8rem;
}

.pdf:hover {
  color: var(--primary-color);
}
/*-------------------------------------------Section Kontakt----------------------------*/

.contakt {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 10rem;
  margin-bottom: 30rem;
  align-items: center;
}

.last-pic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 110%;
  margin: 0 auto;
  gap: 2rem;
}

.vdst-people {
  width: 200%;
  flex-direction: column;
}

.adresse .anschrift {
  font-size: 1.5rem;
  color: var(--text-color);
  text-align: left;
  letter-spacing: 0.1rem;
}

.social {
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 3rem;
}

.social:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/*-----------------Section Impressum ---------------------------------------------*/

.imp-top {
  margin-top: 15rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#07070762, #08080860), url("HeroVDSt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.impressum {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  padding-bottom: 1rem;
}

.aktiven,
.altHerren {
  padding-top: 1.3rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
}

.aktiven_headline,
.ah-headline {
  font-size: 1.6rem;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  padding-bottom: 1rem;
}

.text,
.chargen,
.Ahbund-chargen,
.pflicht {
  font-size: 1.2rem;
  color: var(--text-color);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-icon {
  color: white;
  text-decoration: none;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
}

.footer-icon:hover {
  color: var(--primary-color);
}
/***************************Begin Responsive******************************/

@media screen and (max-width: 349px) {
  .nav {
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
  }

  .title {
    font-size: 1.5rem;
    margin-top: -9rem;
  }

  .subtitle {
    font-size: 0.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
  }

  .hero-action {
    margin-top: 22rem;
  }

  .AboutUsTop {
    grid-template-columns: 1fr;
    display: grid;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-top: 3rem;
    color: var(--text-color);
    gap: 2rem;
  }

  .AboutUs_Picture {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .Big-Picture {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
  }

  .About_us_Header {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }

  .About_us_TextContent {
    font-size: 1.2rem;
  }

  .aktuellePrg {
    font-size: 1.3rem;
  }

  .Monat {
    font-size: 1rem;
  }
  .Termine,
  .Veranstlg,
  .Uhrzeit {
    font-size: 0.6rem;
  }

  .download,
  .pdf {
    font-size: 1rem;
    line-height: 1rem;
    padding-top: 2.5rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin-top: 8rem;
  }

  .contakt-headline {
    font-size: 1.2rem;
  }

  .anschrift {
    font-size: 0.8rem;
    letter-spacing: 0rem;
  }

  .impressum {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .aktiven,
  .altHerren {
    padding-top: 1rem;
    letter-spacing: 0.1rem;
  }

  .aktiven_headline,
  .ah-headline {
    font-size: 1rem;

    padding-bottom: 1rem;
  }

  .text,
  .chargen,
  .Ahbund-chargen,
  .pflicht {
    font-size: 0.7rem;
  }

  .footer-icon {
    font-size: 0.65rem;
  }
}

@media screen and (min-width: 350px) {
  .nav {
    font-size: 0.8rem;
    letter-spacing: 0.09rem;
  }

  .title {
    font-size: 1.6rem;
    margin-top: -1rem;
  }

  .subtitle {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
    letter-spacing: 0.1rem;
  }

  .hero-action {
    margin-top: 25rem;
  }

  .button,
  .button-inverted {
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
  }

  .AboutUsTop {
    grid-template-columns: 1fr;
    display: grid;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-top: 3rem;
    color: var(--text-color);
    gap: 2rem;
  }

  .About_us_Header {
    font-size: 1.5rem;
  }

  .About_us_TextContent {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .AboutUs_Picture {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .Big-Picture {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
  }

  .aktuellePrg {
    font-size: 1.5rem;
  }

  .Monat {
    font-size: 1.2rem;
  }
  .Termine,
  .Veranstlg,
  .Uhrzeit {
    font-size: 0.9rem;
    letter-spacing: 0rem;
  }

  .download,
  .pdf {
    font-size: 1rem;
    line-height: 1rem;
    padding-top: 2.5rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin-top: 8rem;
  }

  .pdf:hover {
    color: var(--primary-color);
  }

  .vdst-people {
    max-width: 185%;
  }

  .contakt-headline {
    font-size: 1.2rem;
  }

  .anschrift {
    font-size: 0.8rem;
    letter-spacing: 0rem;
  }

  .impressum {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  .aktiven,
  .altHerren {
    padding-top: 1.2rem;
    letter-spacing: 0.1rem;
  }

  .aktiven_headline,
  .ah-headline {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .text,
  .chargen,
  .Ahbund-chargen,
  .pflicht {
    font-size: 0.9rem;
  }

  .footer-icon {
    font-size: 0.65rem;
  }
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0rem;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 0rem;
  }

  .hero-action {
    margin-top: 4rem;
  }

  .AboutUsTop {
    grid-template-columns: 1fr;
    display: grid;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-top: 3rem;
    color: var(--text-color);
    gap: 2rem;
  }

  .About_us_Header {
    font-size: 1.8rem;
  }

  .About_us_TextContent {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  .aktuellePrg {
    font-size: 1.7rem;
  }

  .Monat {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }

  .Termine,
  .Veranstlg,
  .Uhrzeit {
    font-size: 1.5rem;
  }
}

.contakt-headline {
  font-size: 1.2rem;
}

.anschrift {
  font-size: 0.8rem;
  letter-spacing: 0rem;
}

.impressum {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.aktiven,
.altHerren {
  padding-top: 1rem;
  letter-spacing: 0.1rem;
}

.aktiven_headline,
.ah-headline {
  font-size: 1rem;
  padding-bottom: 1rem;
}

.text,
.chargen,
.Ahbund-chargen,
.pflicht {
  font-size: 0.7rem;
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: -08rem;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .hero-action {
    margin-top: 26rem;
  }

  .button,
  .button-inverted {
    width: fit-content;
    padding: 1rem 2rem;
    border: 1px solid var(--primary-color);
  }

  .AboutUsTop {
    grid-template-columns: 1fr 1fr;
    display: grid;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-top: 3rem;
    color: var(--text-color);
    gap: 2rem;
  }

  .About_us_Header {
    font-size: 1.8rem;
  }

  .About_us_TextContent {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  .AboutUs_Picture {
    display: flex;
    width: 90%;
    height: 90%;
  }

  .Big-Picture {
    width: 100%;
    height: 100%;
    padding-top: 3rem;
  }

  .aktuellePrg {
    font-size: 2rem;
  }

  .Monat {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }

  .Termine,
  .Veranstlg,
  .Uhrzeit {
    font-size: 1.5rem;
  }

  .download,
  .pdf {
    font-size: 1rem;
    padding-top: 2.5rem;
    text-decoration: none;
    color: white;
    padding: 1rem;
    margin-top: 8rem;
  }

  .contakt-headline {
    font-size: 1.8rem;
  }

  .anschrift {
    font-size: 1.5rem;
    letter-spacing: 0rem;
  }

  .impressum {
    font-size: 3rem;
    padding-bottom: 2rem;
  }

  .aktiven,
  .altHerren {
    padding-top: 1rem;
    letter-spacing: 0.1rem;
  }

  .aktiven_headline,
  .ah-headline {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .text,
  .chargen,
  .Ahbund-chargen,
  .pflicht {
    font-size: 1rem;
  }

  .footer-icon {
    font-size: 1rem;
  }
}
