* {
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Times New Roman", Times, serif;
  background-color: rgba(0, 0, 0, 0.897);
  color: var(--text-color-white);

  --primary-color: #ff3030;
  --text-color: #ddd;
  --text-color-white: white;
}

/*----------------------------------------------Section Nav----------------------------*/
.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  height: 5rem;
  padding: 0 1rem;
  font-size: 1rem;
  text-align: center;
}

.nav-item {
  text-decoration: none;
  color: var(--text-color-white);
  /*text-transform: uppercase;*/
  letter-spacing: 0.1rem;
  transition: all 0.2s ease-in-out;
}

.nav-item:hover {
  color: var(--primary-color);
}

/*-------------------------------------------------- Section Hero -----------------------*/

.hero {
  height: calc(100vh - 5rem);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#07070762, #08080860), url("HeroVDSt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}
.title {
  margin: 0 0 0rem 0;
  font-size: 4rem;
}

.subtitle {
  font-size: 1rem;
  margin: 1;
  color: var(--text-color);
}

.treadmill {
  font-size: 1rem;
  letter-spacing: 0.1rem;
}

.treadmill-link {
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  color: var(--text-color-white);
}

.treadmill-link:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.hero-action {
  margin-top: 30rem;
  color: var(--text-color);
}
.button,
.button-inverted {
  width: fit-content;
  padding: 1rem 2rem;
  border: 1px solid var(--primary-color);
  color: var(--text-color-white);
  background-color: var(--primary-color);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

.button-inverted {
  background-color: transparent;
  color: var(--primary-color);
}

.button:hover {
  background-color: transparent;
  color: var(--primary-color);
}

.button-inverted:hover {
  background-color: var(--primary-color);
  color: var(--text-color-white);
}
/*----------------------------------------------Section About us --------------------------*/

.about-us-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  max-width: 85%;
  margin: 0 auto;
  align-items: center;
  color: var(--text-color);
  gap: 2rem;
}

.aboutUs_container {
  grid-template-columns: 1fr 1fr;
  display: flex;
  flex-direction: column;
  max-width: 85%;
  margin: 0 auto;
}

.about-us-header {
  padding-bottom: 2rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: var(--text-color-white);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  width: fit-content;
}

.about-us-text-content {
  display: block;
  text-align: left;
  padding-bottom: 2rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  margin-bottom: 0.5rem;
}

.about-us-picture {
  display: flex;
  width: 95%;
  height: 90%;
  object-fit: cover;
  gap: 1rem;
}

.big-picture {
  width: 100vh;
  height: 100%;
  object-fit: cover;
}

/*
.AboutUs_SmallPicture {
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 40%;
}*/
/* ---------------------------------------Section Semesterprogramm-----------------------------*/

.semesterprg {
  margin-top: 5rem;
}

.prg-container {
  background-image: linear-gradient(#0707079c, #080808ab), url(VDSt_Kerzen.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 90rem;
  margin: 3rem 0;
  padding: 2rem 0;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.aktuelle-prg {
  color: var(--text-color-white);
  padding-top: 2rem;
  font-size: 1rem;
  letter-spacing: 0.1rem;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-transform: uppercase;
}

.monats {
  list-style: none;
}

.monat {
  /*text-decoration: underline;
  text-decoration-color: var(--primary-color);*/
  padding-top: 2.5rem;
  font-size: 2rem;
  letter-spacing: 0.1rem;
  padding-bottom: 1rem;
  text-transform: uppercase;
}

.appointments,
.event,
.time {
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  line-height: 1.6rem;
  color: var(--text-color);
}

.download,
.pdf {
  font-size: 1.5rem;
  line-height: 1.4rem;
  padding-top: 5rem;
  text-decoration: none;
  color: var(--text-color-white);
  padding: 1rem;
  margin-top: 8rem;
}

.pdf:hover {
  color: var(--primary-color);
}
/*-------------------------------Section Miete--------------------------------------------*/
.rent-room {
  margin-top: 1rem;
}

.our-house-header {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  color: var(--text-color-white);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  text-align: center;
  padding-bottom: 3rem;
}

.rent-room-container {
  flex-direction: column;
  text-align: center;
}

.rent-room-content {
  text-align: center;
  padding-bottom: 3.5rem;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-bottom: 5rem;
}

.picture-frame-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3vh;
  justify-self: center;
  align-items: center;
}

.picture-rent {
  object-fit: cover;
  width: 75vh;
  height: 75vh;
}

/*-------------------------------------------Section Kontakt----------------------------*/

.contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 85%;
  margin: 0 auto;
  margin-top: 15rem;
  margin-bottom: 30rem;
  align-items: center;
}

.last-pic {
  display: grid;
  grid-template-columns: 1fr 1fr;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 100%;
  margin: 0 auto;
  gap: 2rem;
}

.vdst-people {
  width: 100rem;
  flex-direction: column;
}

.addresses .address {
  font-size: 1.3rem;
  color: var(--text-color);
  text-align: left;
  letter-spacing: 0.1rem;
}

.social {
  color: var(--text-color);
  text-decoration: none;
  margin-bottom: 3rem;
}

.social:hover {
  background-color: transparent;
  color: var(--primary-color);
}

/*-----------------Section Impressum ---------------------------------------------*/

.imp-top {
  margin-top: 10rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#07070762, #08080860), url("HeroVDSt.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.impressum {
  font-size: 1.8rem;
  letter-spacing: 0.1rem;
  color: var(--text-color);
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  padding-bottom: 1rem;
}

.aktiven,
.altHerren {
  padding-top: 1.3rem;
  color: var(--text-color);
  letter-spacing: 0.1rem;
}

.aktiven_headline,
.ah-headline {
  font-size: 1.6rem;
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
  padding-bottom: 1rem;
}

.text,
.chargen,
.Ahbund-chargen,
.duty {
  font-size: 1.2rem;
  color: var(--text-color);
}

.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  padding: 2rem 1rem;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}

.footer-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.footer-icon {
  color: var(--text-color-white);
  text-decoration: none;
  letter-spacing: 0.1rem;
  padding: 0 1rem;
}

.footer-icon:hover {
  color: var(--primary-color);
}
/***************************Begin Responsive******************************/

@media screen and (max-width: 349px) {
  .nav {
    font-size: 0.6rem;
    letter-spacing: 0.1rem;
  }

  .title {
    font-size: 1.5rem;
    margin-top: -9rem;
  }

  .subtitle {
    font-size: 0.6rem;
    margin-bottom: 1rem;
    letter-spacing: 0.1rem;
  }

  .hero-action {
    margin-top: 22rem;
  }

  .about-us-top {
    grid-template-columns: 1fr;
    display: grid;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-top: 3rem;
    color: var(--text-color);
    gap: 2rem;
  }

  .about-us-picture {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .big-picture {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
  }

  .about-us-header {
    font-size: 1.8rem;
    padding-bottom: 1rem;
  }

  .about-us-text-content {
    font-size: 1.5rem;
  }

  .aktuelle-prg {
    font-size: 1rem;
  }

  .monat {
    font-size: 0.9rem;
  }
  .appointments,
  .event,
  .time {
    font-size: 0.7rem;
  }

  .download,
  .pdf {
    font-size: 1rem;
    line-height: 1rem;
    padding-top: 2.5rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 1rem;
    margin-top: 8rem;
  }

  .rent-room {
    display: grid;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    gap: 1rem;
  }

  .rent-room-content {
    margin: 1rem 1rem 1rem 1rem;
    font-size: 1.5rem;

    letter-spacing: normal;
  }

  .picture-frame-container {
    display: flex;
    flex-direction: column;
    max-width: 85%;
  }

  .picture-rent {
    width: 100%;
    height: 100%;
  }

  .vdst-people {
    width: 90%;
  }

  .contact-headline {
    font-size: 2rem;
  }

  .addresses {
    font-size: 1rem;
  }

  .impressum {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .aktiven,
  .altHerren {
    padding-top: 1rem;
    letter-spacing: 0.1rem;
  }

  .aktiven_headline,
  .ah-headline {
    font-size: 1rem;
    padding-bottom: 0rem;
  }

  .text,
  .chargen,
  .Ahbund-chargen,
  .duty {
    font-size: 0.7rem;
  }

  .footer-icon {
    font-size: 0.47rem;
  }
}

@media screen and (min-width: 350px) {
  .nav {
    font-size: 0.8rem;
    letter-spacing: 0.09rem;
  }

  .title {
    font-size: 1.6rem;
    margin-top: -1rem;
  }

  .subtitle {
    font-size: 0.8rem;
    margin-bottom: 0.1rem;
    letter-spacing: 0.1rem;
  }

  .hero-action {
    margin-top: 25rem;
  }

  .button,
  .button-inverted {
    width: fit-content;
    padding: 0.5rem 1rem;
    border: 1px solid var(--primary-color);
  }

  .about-us-top {
    grid-template-columns: 1fr;
    display: grid;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-top: 3rem;
    color: var(--text-color);
    gap: 2rem;
  }

  .about-us-header {
    font-size: 1.5rem;
  }

  .about-us-text-content {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .about-us-picture {
    display: flex;
    width: 100%;
    height: 100%;
  }

  .big-picture {
    width: 100%;
    height: 100%;
    padding-top: 2rem;
  }

  .aktuelle-prg {
    font-size: 1.5rem;
  }

  .monat {
    font-size: 1.2rem;
  }
  .appointments,
  .event,
  .time {
    font-size: 0.9rem;
    letter-spacing: 0rem;
  }

  .download,
  .pdf {
    font-size: 1rem;
    line-height: 1rem;
    padding-top: 2.5rem;
    text-decoration: none;
    color: var(--text-color-white);
    padding: 1rem;
    margin-top: 8rem;
  }

  .pdf:hover {
    color: var(--primary-color);
  }

  .rent-room-content {
    text-align: center;
  }

  .rent-room {
    text-align: center;
  }

  .contact-headline {
    font-size: 1.2rem;
  }

  .address {
    font-size: 0.7rem;
  }

  .impressum {
    font-size: 1rem;
    padding-bottom: 1rem;
  }

  .aktiven,
  .altHerren {
    padding-top: 1.2rem;
    letter-spacing: 0.1rem;
  }

  .aktiven_headline,
  .ah-headline {
    font-size: 1.2rem;
    padding-bottom: 1rem;
  }

  .text,
  .chargen,
  .Ahbund-chargen,
  .duty {
    font-size: 1rem;
  }

  .footer-icon {
    font-size: 0.475rem;
  }
}

@media screen and (min-width: 600px) {
  .title {
    font-size: 2.5rem;
    padding-bottom: 1rem;
    margin-bottom: 0.5rem;
    margin-top: 0rem;
  }

  .subtitle {
    font-size: 1rem;
    margin-bottom: 0rem;
  }

  .hero-action {
    margin-top: 4rem;
  }

  .about-us-top {
    grid-template-columns: 1fr;
    display: grid;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-top: 3rem;
    color: var(--text-color);
    gap: 2rem;
  }

  .about-us-header {
    font-size: 1.8rem;
  }

  .about-us-text-content {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  .aktuelle-prg {
    font-size: 1.7rem;
  }

  .monat {
    font-size: 1.4rem;
    letter-spacing: 0.1rem;
  }

  .appointments,
  .event,
  .time {
    font-size: 1.5rem;
  }
}

.contact-headline {
  font-size: 1.5rem;
}

.address {
  font-size: 0.8rem;
  letter-spacing: 0rem;
}

.impressum {
  padding-bottom: 1rem;
}

.aktiven,
.altHerren {
  padding-top: 1rem;
  letter-spacing: 0.1rem;
}

.aktiven_headline,
.ah-headline {
  font-size: 0.99rem;
  padding-bottom: 1rem;
}

.text,
.chargen,
.Ahbund-chargen,
.duty {
  font-size: 0.9rem;
}

@media screen and (min-width: 1000px) {
  .title {
    font-size: 3.5rem;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    margin-top: -08rem;
  }

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .hero-action {
    margin-top: 26rem;
  }

  .button,
  .button-inverted {
    width: fit-content;
    padding: 1rem 2rem;
    border: 1px solid var(--primary-color);
  }

  .about-us-top {
    display: grid;
    grid-template-columns: 1fr 1fr;
    flex-direction: column;
    max-width: 85%;
    margin: 0 auto;
    align-items: center;
    margin-top: 3rem;
    color: var(--text-color);
    gap: 2rem;
  }

  .about-us-header {
    font-size: 1.8rem;
  }

  .about-us-text-content {
    font-size: 1.4rem;
    padding-bottom: 1rem;
  }

  .about-us-picture {
    display: flex;
    width: 90%;
    height: 90%;
  }

  .aktuelle-prg {
    font-size: 2rem;
  }

  .monat {
    font-size: 1.8rem;
    letter-spacing: 0.1rem;
  }

  .appointments,
  .event,
  .time {
    font-size: 1.5rem;
  }

  .download,
  .pdf {
    font-size: 1rem;
    padding-top: 2.5rem;
    text-decoration: none;
    color: var(--text-color-white);
    padding: 1rem;
    margin-top: 8rem;
  }

  .rent-room-content {
    font-size: 2rem;
  }

  .contact-headline {
    font-size: 1.8rem;
  }

  .vdst-people {
    width: 100%;
    height: 100%;
  }

  .address {
    font-size: 1.5rem;
    letter-spacing: 0rem;
  }

  .impressum {
    font-size: 3rem;
    padding-bottom: 2rem;
  }

  .aktiven,
  .altHerren {
    padding-top: 1rem;
    letter-spacing: 0.1rem;
  }

  .aktiven_headline,
  .ah-headline {
    font-size: 2rem;
    padding-bottom: 1rem;
  }

  .text,
  .chargen,
  .Ahbund-chargen,
  .duty {
    font-size: 1rem;
  }

  .footer-icon {
    font-size: 1rem;
  }
}
